{% comment %}
  Renders Accessibility button for Skip To Text

  Usage:
  {% render 'accessibility-skip_to_text' %}
{% endcomment %}

<a class="skip-to-content-link text-center p-1 hidden" href="#MainContent">
  {{ 'accessibility.skip_to_text' | t }}
</a>